@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";


body {
    font-family: 'DM Sans', sans-serif;
}

@theme{
    --color-primary: #080806
}
.primary-container{
  @apply  container  mx-auto px-4 sm:px-6 lg:px-8
}

@keyframes marquee {

    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}

}

.animate-marquee{
    animation: marquee 30s linear infinite;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  